@import url("variables.css");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--blue-at);
    color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    max-height: 70px;
}

main {
    min-height: 100vh;
}

#homepage-logo{
    max-height: 150px;
}

footer {
    background-color: var(--blue-at);
    color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

html a {
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 0;
    color: inherit;
}

.map-container {
    height: 100%;
    min-height: 600px;
}

.party-card-img {
    max-width: 150px;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}