html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    min-height: min(30vh, 80px);
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    min-height: min(30vh, 40px);
}


.map-container {
    height: 100%;
    min-height: 600px;
}